<!DOCTYPE html>
<html>
<head class="cuerpo">
    <title>CINECO</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-5" style="color: aliceblue;">Cinepolis</h1>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="nombre" style="color: aliceblue;">Nombre de la persona que realiza la compra:</label>
                        <input type="text" [(ngModel)]='nombre' class="form-control" id="nombre" placeholder="Nombre">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="cantidad" style="color: aliceblue;">Cantidad de clientes:</label>
                        <input type="number" [(ngModel)]='numcomp' class="form-control" name="comp" placeholder="Cantidad de Compradores"  min=1>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="cantidad" style="color: aliceblue;">Cantidad de boletos a comprar:</label>
                        <input type="number" [(ngModel)]='num' class="form-control" name="num" placeholder="Numeros Boletos" min=1  max="7">
                        {{aviso}}
                    </div>
                    <br>
                    <div>
                        <label class="label" style="color: aliceblue;">¿Usará tarjeta CINECO</label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]='opcion'  type="radio" name="opcion" id="flexRadioDefault1" value="1"  >
                        <label class="form-check-label" for="flexRadioDefault1" style="color: aliceblue;">Si</label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]='opcion' type="radio" name="opcion" id="flexRadioDefault2" value="2" >
                        <label class="form-check-label" for="flexRadioDefault2" style="color: aliceblue;">No</label>
                    </div>
                </form>
            </div>
            <br>
            <div class="col-md-6">
                <div class="text-right"><h2 style="color: aliceblue;">{{total}}</h2></div>
                <button type="button" (click)='calcular()' class="btn btn-primary mt-3">Calcular Precio</button>
            </div>
        </div>
        </div> 
    </body>
</html>


